<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<h1>REGISTRATION</h1>
<p>Name:</p>
<p><input maxlength="10" name="Name" required="required" size="10" type="text" /></p>
<p>Password:</p>
<p><input maxlength="10" name="Password" required="required" size="10" type="text" /></p>
<p>City:</p>
<p><select name="CityList" required="required" size="10"><option selected="selected" value="">Saint-Petersburg</option><option selected="selected" value="">Moscow</option><option selected="selected" value="">Kazan</option></select></p>
<p>I am administrator&nbsp;<input name="Admin_check" type="checkbox" />&nbsp;<input maxlength="10" name="admin_password" type="text" />&nbsp;</p>
<p><input name="Register" type="button" value="Register" /></p>

</body>
</html>